
body{
    font: 20px arial, sans-serif;
}
.navbar {
    background-color: green;
}

.quem-somos{
    background-color: #C0F66A;
    color: black;
}

.margin{  
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: aqua;
}

.bg-footer{
    background-color: black;
    color: white;

}
  